<!DOCTYPE html>
<html>
  <head>
    <title>Hubble Dashboard</title>
    <link rel="stylesheet" href="css.css" />
    <script src="js/feather.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="particles"></div>
    <div id="container">
      <div id="inner-container">
        <div id="page1">
          <div>
            <h1 id="welcome"></h1>
          </div>
          <div id="icons">
            <div class="icon-container">
              <div id="wifi" class="icon">
                <a href="/wifi/">
                  <i data-feather="wifi">WiFi</i>
                </a>
              </div>
              <p>WiFi</p>
            </div>
            <div class="icon-container">
              <div id="folder" class="icon">
                <a href="#">
                  <i data-feather="folder">Files</i>
                </a>
              </div>
              <p>Files</p>
            </div>
            <div class="icon-container">
              <div id="corner-right-up" class="icon">
                <a href="/admin/">
                  <i data-feather="corner-right-up">DNS</i>
                </a>
              </div>
              <p>DNS</p>
            </div>
            <div class="icon-container">
              <div id="settings" class="icon" onclick="settings()">
                <i data-feather="settings">Settings</i>
              </div>
              <p>Settings</p>
            </div>
          </div>
        </div>
        <div id="page2">
          <h1>Settings</h1>
          <div id="icons-settings">
            <div class="settings-icon">
              <div title="Change wifi adapter" id="adapter" class="icon" onclick="adapter()">
                <i data-feather="rss"></i>
              </div>
              <p>Change wifi <br />adapter</p>
            </div>
            <div class="settings-icon">
              <div title="Terminal session" id="terminal" class="icon" onclick="terminal()" port=":4200">
                <i data-feather="terminal">Terminal</i>
              </div>
              <p>Terminal</p>
            </div>
          </div>
          <form id="settings-form">
            <div id="text-fields">
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" placeholder="<%= name %>" />
              <label for="hostname">Hostname:</label>
              <input type="text" name="hostname" id="hostname" placeholder="<%= hostname %>" />
            </div>
            <div id="radio-title">
              <h1>Interface</h1>
            </div>
            <div id="interface-div">
              <div id="radio-div">
                <div class="radio">
                  <input type="radio" id="wireless" name="interface" value="wlan0" />
                  <label for="wireless">Wireless (wlan0)</label>
                </div>
                <div class="radio">
                  <input type="radio" id="wired" name="interface" value="eth0" />
                  <label for="wired">Wired (eth0)</label>
                </div>
              </div>
            </div>
            <div id="buttons">
              <button onclick='settings("back")' class="button" type="button">Back</button>
              <input type="submit" value="Save" class="button" id="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.info = JSON.parse('{"name": "<%= name %>", "hostname": "<%= hostname %>", "iface": "<%= iface %>"}');
    $("#settings-form").submit(function (e) {
      e.preventDefault();
      let postData = $(this).serializeArray();
      let name = postData[0].value;
      let hostname = postData[1].value;
      let iface = postData[2].value;
      if (hostname === info.hostname) hostname = "";
      if (name == info.name) name = "";
      if (iface !== info.iface || hostname) {
        if (
          /^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/.test(
            hostname,
          ) ||
          !hostname
        ) {
          let reboot = window.confirm(
            "One or more of the settings you changed will cause the device to reboot. Continue?",
          );
          if (reboot) {
            submit(postData);
          } else {
            $("#settings-form").trigger("reset");
          }
        } else {
          window.alert("Illegal character detected in hostname field. Please ammend");
        }
      } else if (iface === info.iface && !hostname && !name) {
        e.preventDefault();
        return;
      } else {
        submit(postData);
        $("#name").attr("placeholder", name);
        welcome(name);
      }
      e.preventDefault();
    });
    //Particle color change
    const colorchange = (color) => {
      $.each(pJSDom[0].pJS.particles.array, (i, p) => {
        pJSDom[0].pJS.particles.array[i].color.value = color;
        pJSDom[0].pJS.particles.array[i].color.rgb = hexToRgb(color);
        pJSDom[0].pJS.particles.line_linked.color_rgb_line = hexToRgb(color);
      });
    };
    $("#corner-right-up").hover(
      () => {
        colorchange("#80e27e");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#folder").hover(
      () => {
        colorchange("#6ec6ff");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#wifi").hover(
      () => {
        colorchange("#ff7961");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#settings").hover(
      () => {
        colorchange("#c79100");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#submit").hover(
      () => {
        colorchange("#c79100");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#adapter").hover(
      () => {
        colorchange("#9162e4");
      },
      () => {
        colorchange("#000000");
      },
    );
    $("#terminal").hover(
      () => {
        colorchange("#ff844c");
      },
      () => {
        colorchange("#000000");
      },
    );
  </script>
</html>
