@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html,
body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#particles {
  display: block;
}

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container {
  height: 100%;
}

#inner-container {
  padding: 1.5vh;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#page1 {
  margin-bottom: 1vh;
}

#page1 h1 {
  font-size: 3.5vh;
  margin: 15px;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#wifi {
  background-color: #ff7961;
}

#wifi svg {
  stroke: #ba000d;
}

#folder {
  background-color: #6ec6ff;
}

#folder svg {
  stroke: #0069c0;
}

#corner-right-up {
  background-color: #80e27e;
}

#corner-right-up svg {
  stroke: #087f23;
}

#settings {
  background-color: #fff350;
  cursor: pointer;
}

#settings svg {
  stroke: #c79100;
}

#terminal {
  background-color: #ffc947;
  cursor: pointer;
}

#terminal svg {
  stroke: #c66900;
}

#adapter {
  background-color: #9162e4;
  cursor: pointer;
}

#adapter svg {
  stroke: #280680;
}

#reboot {
  background-color: #80e27e;
  cursor: pointer;
}

#reboot svg {
  stroke: #087f23;
}

#shutdown {
  background-color: #ff844c;
  cursor: pointer;
}

#shutdown svg {
  stroke: #b91400;
}

#devices {
  background-color: #6ec6ff;
  cursor: pointer;
}

#devices svg {
  stroke: #0069c0;
}

#page2 {
  display: none;
}

#page2 h1 {
  margin-bottom: 0;
}

form {
  margin: 10px;
}

form label {
  font-size: 2.5vh;
}

#interface-div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px 0px;
}

input[type="text"],
input[type="password"] {
  border-radius: 20px;
  width: 92%;
  height: 2vw;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1% 4%;
  font-size: 2vh;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

#buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#buttons .button {
  width: 100%;
  margin: 5px;
  border-radius: 20px;
  height: 2.5vw;
  border: none;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#buttons .button:focus {
  outline: none;
}

#buttons .button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#buttons input[type="submit"] {
  background-color: #c79100;
  color: white;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#text-fields {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25vw;
  height: 100%;
}

#text-fields label {
  margin: 10px 0px 5px 0px;
}

#radio-title {
  font-size: 2vh;
}

#radio-title h1 {
  font-size: 2.5vh;
}

#radio-div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#radio-div .radio {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

legend {
  display: none;
}

@media only screen and (max-width: 400px) {
  #text-fields {
    width: 80vw;
  }
  #buttons .button {
    height: 10vw;
  }
  input[type="text"],
  input[type="password"] {
    height: 10vw;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  #text-fields {
    width: 80vw;
  }
  #buttons .button {
    height: 8vw;
  }
  input[type="text"],
  input[type="password"] {
    height: 8vw;
  }
}

@media (min-width: 750px) and (max-width: 1450px) {
  #text-fields {
    width: 50vw;
  }
  #buttons .button {
    height: 5vw;
  }
  input[type="text"],
  input[type="password"] {
    height: 5vw;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icons .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons .icon-container p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 1vh;
}

.icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin: 1.5vh;
  -webkit-transition: ease 0.5s 0.1s;
  transition: ease 0.5s 0.1s;
}

.icons .icon:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.icons.icons-settings {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icons.icons-settings .icon {
  height: 6vh;
  width: 6vh;
}

.icons.icons-settings .icon svg {
  width: 50%;
  height: 50%;
}

.icons.icons-home .icon {
  height: 8vh;
  width: 8vh;
}

.icons.icons-home .icon svg {
  width: 65%;
  height: 65%;
}

#page3 {
  display: none;
}

#page3 ul {
  list-style: none;
  padding: 0;
}

#page3 p {
  margin: 0 10vw 0 0;
}

.mount {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  font-size: 2.5vh;
  display: none;
}

.mount button {
  border: none;
  border-radius: 20px;
  font-size: 2.5vh;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mount button:focus {
  outline: none;
}

.mount button:hover {
  color: #b91400;
  background-color: #ff844c;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#noDevices {
  margin: 0 5vw;
}
/*# sourceMappingURL=css.css.map */