@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html,
body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#particles {
  display: block;
}

#inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5vh;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page1 h1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 3.5vh;
  margin: 15px;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#icons svg {
  width: 65%;
  height: 65%;
}

#icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh;
  width: 8vh;
  border-radius: 20px;
  margin: 1.5vh;
  -webkit-transition: ease 0.5s 0.1s;
  transition: ease 0.5s 0.1s;
}

#icons .icon:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#wifi {
  background-color: #ff7961;
}

#wifi .feather-wifi {
  stroke: #ba000d;
}

#folder {
  background-color: #6ec6ff;
}

#folder .feather-folder {
  stroke: #0069c0;
}

#corner-right-up {
  background-color: #80e27e;
}

#corner-right-up .feather-corner-right-up {
  stroke: #087f23;
}

#settings {
  background-color: #fff350;
  cursor: pointer;
}

#settings .feather-settings {
  stroke: #c79100;
}

#terminal {
  background-color: #ff844c;
  cursor: pointer;
}

#terminal .feather-terminal {
  stroke: #b91400;
}

#adapter {
  background-color: #9162e4;
  cursor: pointer;
}

#adapter .feather-rss {
  stroke: #280680;
}

#page2 {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page2 h1 {
  margin-bottom: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

#interface-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px;
}

label {
  font-size: 2.5vh;
}

input[type="text"] {
  border-radius: 20px;
  width: 92%;
  height: 2vw;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1% 4%;
  font-size: 2vh;
}

input[type="text"]:focus {
  outline: none;
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#buttons .button {
  width: 100%;
  margin: 5px;
  border-radius: 20px;
  height: 2.5vw;
  border: none;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#buttons .button:focus {
  outline: none;
}

#buttons .button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#buttons input[type="submit"] {
  background-color: #c79100;
  color: white;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

#text-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  height: 100%;
}

#text-fields label {
  margin: 10px 0px 5px 0px;
}

#radio-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#radio-div .radio {
  margin-bottom: 10px;
}

legend {
  display: none;
}

#radio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vh;
}

#radio-title h1 {
  font-size: 2.5vh;
}

@media only screen and (max-width: 400px) {
  #text-fields {
    width: 80vw;
  }
  #buttons .button {
    height: 10vw;
  }
  input[type="text"] {
    height: 10vw;
  }
}

@media (min-width: 400px) and (max-width: 750px) {
  #text-fields {
    width: 80vw;
  }
  #buttons .button {
    height: 6.5vw;
  }
  input[type="text"] {
    height: 6.5vw;
  }
}

@media (min-width: 750px) and (max-width: 1450px) {
  #text-fields {
    width: 50vw;
  }
  #buttons .button {
    height: 4vw;
  }
  input[type="text"] {
    height: 4vw;
  }
}

#icons-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#icons-settings .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6vh;
  width: 6vh;
  border-radius: 20px;
  margin: 1.5vh;
  -webkit-transition: ease 0.5s 0.1s;
  transition: ease 0.5s 0.1s;
}

#icons-settings .icon:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1vh;
}

p {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.settings-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 15px;
  text-align: center;
}
/*# sourceMappingURL=css.css.map */